header {
  transition: background-color 500ms !important;
}

body {
  transition: background-color 500ms !important;
  padding-bottom: 50px;
}

button.social-login-dark-button {
  background-color: rgba(0, 0, 0, 0.2) !important;
  transition: background-color 500ms;
  color: white !important;
}

button.social-login-dark-button:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
